/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2019, 9:41:10 PM
    Author     : Pavan Macherla
*/
#fon{
    color: white;
    font-size: 30px;
    font-family: garamond;
    
}
p{
    font-family: arial;
    font-size: 16px;
    position: center;
    
}
#content{
    font-size: 20px;
    max-width: 350px;
    height: 100px;
    text-align: center;
    padding-top: 250px;
}
.cen{
    background-image: url("img/rg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    color: #fff;
}
center{
    align-content: center;
    padding-top:200px;
}
table{
    position: center;
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    background-color: blanchedalmond;
}
th,td{
    text-align: center;
    padding: 15px;
    border: 3px solid ;
    height: 24px;
}
th{
    background-color: #f6ff64;
}
.container{
    background-color: crimson;
}
#foot{
    height: 25px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

@media (min-width:320px){.container{width: 320px;}}
@media (min-width:481px){.container{width: 481px;}}
@media (min-width:641px){.container{width: 641px;}}
@media (min-width:961px){.container{width: 961px;}}
@media (min-width:1000px){.container{width: 1000px;}}